.img-thumbnail{
    margin: 15px;
    height: 50%;
    width: 50%;
}

.img-thumbnail:hover{
    margin: auto;   
    height: 120%;
    width: 120%;
}  

.card-body{
    padding: 0 25px;
}
.card-footer{
    padding: 10 15px;
    background-color: #fff;
    border-top: none;
}
input{
    border:none;
    background-color: none;
   /* height:700px;*/
    max-width: 180px;
}