img.img-thumbnail{
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.card{
    height: 65%;
}
.liste{
    margin-top: 10px;
}

.nv-file-over{
    border: dashed 3px red;
}
input[type=file]{
    color: transparent;
}