.dropdown-toggle{
    cursor: pointer;
}
img{
    max-height: 50px;
    border:2px solid wheat;
    display: inline;
    margin-right: 10px;
}
.reset{
    color:white;
    text-decoration: underline;
}